<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHÂN BỔ DANH SÁCH CHẤM ĐIỂM</title>
</head>
<body>
    <a href="{% url 'vote_app2:login'%}">Logout</a>
    <h2>PHÂN CÔNG CHẤM ĐIỂM</h2>
    
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>

    <h2>Đã phân công</h2>
    <ul>
        {% for assignment in assignments %}
            <li>{{ assignment.contestant.full_name }} - được chấm bởi {{ assignment.user.username }}</li>
        {% endfor %}
    </ul>

    <h2>Chưa phân công</h2>
    <ul>
        {% for contestant in unassigned_contestants %}
            <li>{{ contestant.full_name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
