<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Điểm thi các thí sinh</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'vote_app2/css/styles.css' %}">
</head>
<body>
    <h2>ĐIỂM THI CÁC THÍ SINH</h2>
    <ul>
        {% for contestant in contestants %}
            <li>
                {{ contestant.full_name }}
                {% if latest_scores.contestant.id %}
                    Điểm: {{ latest_scores[contestant.id].score }}
                    (chấm lúc: {{ latest_scores[contestant.id].timestamp }})
                {% else %}
                    - No score available
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Chấm điểm cho các thí sinh:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <h2>Phân bổ thí sinh</h2>
    <a href="{% url 'vote_app2:assign_contestants_to_user' %}">Phân bổ thí sinh cho tôi</a>
</body>
</html>
