<!-- home.html -->
<h2>DANH SÁCH THÍ SINH</h2>

<ul>
    {% for contestant in contestants %}
        <li>
            {{ contestant.full_name }}
            {% if contestant.score_set.exists %}
                Điểm: {{ contestant.score_set.first.score }}
                ({{ contestant.score_set.first.timestamp }})
            {% else %}
                - No score available
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Chấm điểm cho các thí sinh:</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>