{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>Điểm thi</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Điểm thi</h1>
        <a href="{% url 'vote_app2:login' %}">Logout</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thí sinh</th>
                    {% for judge in judges %}
                        <th>{{ judge.full_name }}</th>
                    {% endfor %}
                    <th>Điểm trung bình</th>
                </tr>
            </thead>
            <tbody>
                {% for contestant in contestants %}
                    <tr>
                        <td>{{ contestant.full_name }}</td>
                        {% for judge in judges %}
                            {% with score_value=scores_dict|get_item:contestant|get_item:judge %}
                                <td>
                                    {% if score_value %}
                                        {{ score_value }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            {% endwith %}
                        {% endfor %}
                        <td>
                            {% with average_score=scores_dict|get_item:contestant|get_item:'average_score' %}
                                {% if average_score %}
                                    {{ average_score }}
                                {% else %}
                                    N/A
                                {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'vote_app2:assign_contestants' %}" class="btn btn-primary">Phân công chấm điểm</a>
    </div>
</body>
</html>
